<div class="row">
  <div class="small-12 columns">
    <h1>New Post</h1>

    <form>
      <label>
        Title
        {{input type="text" value=title}}
      </label>

      <label>
        Contents
        {{textarea value=content rows=10}}
      </label>


      <button type="button" class="success button" {{action 'save' title content}}>Save</button>
    </form>
  </div>
</div>
